package main

import (
	"context"
	"log"
	"os"

	admin "[[ .TemplateModule ]]"
	"[[ .Module ]]/internal/generated"
)

func main() {
	if err := admin.Run(context.Background(), os.Args[1:], admin.Options{
		Register: generated.RegisterPlugins,
	}); err != nil {
		log.Fatal(err)
	}
}
