plugins:
  - id: admin
    name: Admin
    module: [[ .TemplateModule ]]/modules/admin
    mode: auto
  - id: config
    name: Config
    module: [[ .TemplateModule ]]/modules/config
    mode: auto
  - id: dict
    name: Dictionary
    module: [[ .TemplateModule ]]/modules/dict
    mode: auto
  - id: email
    name: Email
    module: [[ .TemplateModule ]]/modules/email
    mode: auto
  - id: notice
    name: Notice
    module: [[ .TemplateModule ]]/modules/notice
    mode: auto
  - id: oauth2
    name: OAuth2
    module: [[ .TemplateModule ]]/modules/oauth2
    mode: auto
  - id: task
    name: Task
    module: [[ .TemplateModule ]]/modules/task
    mode: auto
  - id: uploadfile
    name: Upload File
    module: [[ .TemplateModule ]]/modules/uploadfile
    mode: auto
